<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test 1</title>
    <style type="text/css">
    </style>
</head>
<body>
Welcome<br/><label for="text"></label><input id="text" type="text"/>
<br/>
请指定用户<br/><label for="linkNode"></label><input id="linkNode" type="text"/>
<input type="file" id="file"/>
<button onclick="sendFile()">发送消息</button>
<hr/>
<button onclick="openWebSocket()">开启WebSocket连接</button>
<button onclick="closeWebSocket()">关闭WebSocket连接</button>
<hr/>
<div id="message"></div>
</body>
<script type="application/javascript">
  var websocket = null;
  var linkNode = document.getElementById("linkNode");
  //判断当前浏览器是否支持WebSocket

  //将消息显示在网页上
  function setMessageInnerHTML(innerHTML) {
    document.getElementById('message').innerHTML += innerHTML + '<br/>';
  }

  //关闭WebSocket连接
  function closeWebSocket() {
    websocket.close();
  }

  function openWebSocket() {
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost:8888/websocket/test1/2/" + linkNode.value);
      //连接发生错误的回调方法
      websocket.onerror = function () {
        setMessageInnerHTML("WebSocket连接发生错误");
      };

      //连接成功建立的回调方法
      websocket.onopen = function () {
        setMessageInnerHTML("WebSocket连接成功");
      }

      //接收到消息的回调方法
      websocket.onmessage = function (event) {
        console.log("test1: " + event.data);
        setMessageInnerHTML(event.data);
      }

      //连接关闭的回调方法
      websocket.onclose = function (event) {
        console.log(event);
        setMessageInnerHTML("WebSocket连接关闭");
      }

      //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
      window.onbeforeunload = function () {
        closeWebSocket();
      }
    }
    else {
      alert('当前浏览器不支持websocket')
    }
  }

  let fileUploadSize = 0;

  function sendFile() {
    var inputFile = document.getElementById('file').files[0];
    let dist = inputFile.size < fileUploadSize + 1024 ? file.size : fileUploadSize + 1024;
    let blob = inputFile.slice(fileUploadSize, dist);
    var reader = new FileReader();
    reader.onload = evt => {
      var binaryString = evt.target.result;
      websocket.send(binaryString);
    }
    reader.readAsArrayBuffer(blob);
  }

  //发送消息
  function send() {
    var message = document.getElementById('text').value;
    websocket.send(message);
  }
</script>
</html>